<!-- app(admin.edita_chamado) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Chamados</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <!-- if ($(status) == "2") status_alerta -->
            <div id="search-bar-closed">
                <h3>Chamado Fechado!</h3>
            </div>
            <!-- end(status_alerta) -->
            <br clear="all" />
            <div class="field"><label for="empresa">Empresa <span style="color: #FF0000;">*</span> </label> <input id="empresa" maxlength="255" name="empresa" type="text" class="xlarge" value="<!-- $(empresa) -->" /></div>
            <div class="field"><label for="cnpj">CNPJ <span style="color: #FF0000;">*</span> </label> <input id="cnpj" maxlength="255" name="cnpj" type="text" class="small" value="<!-- $(cnpj) -->" alt="cnpj" /></div>
            <div class="field"><label for="telefone">Telefone <span style="color: #FF0000;">*</span> </label> <input id="telefone" maxlength="255" name="telefone" type="text" class="xsmall" value="<!-- $(telefone) -->" alt="phone" /></div>
            <h3>Endereço</h3>
            <div class="field"><label for="endereco_logradouro">Logradouro <span style="color: #FF0000;">*</span> </label> <input id="endereco_logradouro" maxlength="255" name="endereco_logradouro" type="text" class="medium" value="<!-- $(endereco_logradouro) -->" /> <span class="field_help_left">Exemplo: Av. Rio Branco, 158</span></div>
            <div class="field"><label for="endereco_complemento">Complemento </label> <input id="endereco_complemento" maxlength="50" name="endereco_complemento" type="text" class="small" value="<!-- $(endereco_complemento) -->" /></div>
            <div class="field"><label for="endereco_cep">CEP </label> <input id="endereco_cep" maxlength="15" name="endereco_cep" type="text" class="xsmall" value="<!-- $(endereco_cep) -->" alt="cep" /></div>
            <div class="field"><label for="endereco_bairro">Bairro <span style="color: #FF0000;">*</span> </label> <input id="endereco_bairro" maxlength="255" name="endereco_bairro" type="text" class="medium" value="<!-- $(endereco_bairro) -->" /></div>
            <div class="field"><label for="endereco_cidade">Cidade <span style="color: #FF0000;">*</span> </label> <input id="endereco_cidade" maxlength="255" name="endereco_cidade" type="text" class="medium" value="<!-- $(endereco_cidade) -->" /></div>
            <div class="field"><label for="endereco_estado">Estado <span style="color: #FF0000;">*</span> </label> <input id="endereco_estado" maxlength="2" name="endereco_estado" type="text" class="xsmall" value="<!-- $(endereco_estado) -->" /></div>
            <h3>Agendamento</h3>
            <div class="field"><label for="agenda_data">Data <span style="color: #FF0000;">*</span> </label> <input id="agenda_data" maxlength="10" name="agenda_data" type="text" class="xsmall" value="<!-- $(agenda) -->" alt="date" /></div>
            <div class="field phone_field"><label for="agenda_hora_ini">Horário <span style="color: #FF0000;">*</span> </label> <input id="agenda_hora_ini" maxlength="8" name="agenda_hora_ini" type="text" class="xsmall" value="<!-- $(agenda_hora_ini) -->" alt="time" /> - <input id="agenda_hora_fim" maxlength="8" name="agenda_hora_fim" type="text" class="xsmall" value="<!-- $(agenda_hora_fim) -->" alt="time" /></div>
            <h3>Informações</h3>
            <div class="field">
                <label for="bancos_id">Banco </label> 
                <select id="bancos_id" name="bancos_id">
                    <!-- each ($(bancos_lista)) bancos -->
                    <option value="$bancos(id)">$bancos(banco)</option>
                    <!-- end(bancos) -->
                </select>
            </div>
            <div class="controlset field">
                <span class="label">Serviços <span style="color: #FF0000;">*</span> </span>
                <div class="controlset-pad">
                    <!-- each ($(servicos_lista)) servicos -->
                    <input name="servicos[]" id="servicos_$servicos(id)" value="$servicos(id)" type="checkbox" /> <label for="servicos_$servicos(id)">$servicos(servico)</label><br />
                    <!-- end(servicos) -->
                </div>
            </div>
            <div class="controlset field">
                <span class="label">Produtos <span style="color: #FF0000;">*</span> </span>
                <div class="controlset-pad">
                    <!-- each ($(produtos_lista)) produtos -->
                    <input name="produtos[]" id="produtos_$produtos(id)" value="$produtos(id)" type="checkbox" /> <label for="produtos_$produtos(id)">$produtos(produto)</label><br />
                    <!-- end(produtos) -->
                </div>
            </div>
            <div class="field"><label for="anotacoes">Anotações </label> <textarea rows="7" cols="50" name="anotacoes"><!-- $(anotacoes) --></textarea></div>
            <!-- if ($(status) == "2") status -->
            <h3>Atendimento</h3>
            <div class="field"><label for="atendimento_data">Data <span style="color: #FF0000;">*</span> </label> <input id="atendimento_data" maxlength="10" name="atendimento_data" type="text" class="xsmall" value="<!-- $(atendimento) -->" alt="date" /></div>
            <div class="field phone_field"><label for="atendimento_hora_ini">Horário <span style="color: #FF0000;">*</span> </label> <input id="atendimento_hora_ini" maxlength="8" name="atendimento_hora_ini" type="text" class="xsmall" value="<!-- $(atendimento_hora_ini) -->" alt="time" /> - <input id="atendimento_hora_fim" maxlength="8" name="atendimento_hora_fim" type="text" class="xsmall" value="<!-- $(atendimento_hora_fim) -->" alt="time" /></div>
            <div class="field">
                <label for="visita_status">Visita Atendida?</label> 
                <select id="visita_status" name="visita_status">
                    <!-- each ($(visita_status_lista)) visita_status -->
                    <option value="$visita_status(id)">$visita_status(status)</option>
                    <!-- end(visita_status) -->
                </select>
            </div>
            <div class="field"><label for="tecnico">Técnico <span style="color: #FF0000;">*</span> </label> <input id="tecnico" maxlength="255" name="tecnico" type="text" class="medium" value="<!-- $(tecnico) -->" /></div>
            <div class="field"><label for="observacao">Observação </label> <textarea rows="7" cols="50" name="observacao"><!-- $(observacao) --></textarea></div>
            <!-- end(status) -->
            <div class="buttonrow">
                <!-- if (^(usuario.adm_content_nivel_id) less 4) show_btn_fechar_aberto -->
                <!-- if ($(status) != "2") status_fechada -->
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=chamados/fechar&id=<!-- $(id) -->');">Fechar</button>
                <!-- end(status_fechada) -->
                <!-- end(show_btn_fechar_aberto) -->
                <!-- if (^(usuario.adm_content_nivel_id) less 2) show_btn_save_fechado -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=chamados/remover&id=<!-- $(id) -->');">Remover</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- end(show_btn_save_fechado) -->
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=chamados');">Cancelar</button>
            </div>
        </div>
    </div>
    <!--
    <div class="portlet x3">
        <div class="portlet-header"><h4>Observação</h4></div>
        <div class="portlet-content">
            <p>Todos os campos ao lado são obrigatórios!</p>
        </div>
    </div>
    -->
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    <!-- if (^(usuario.adm_content_nivel_id) more 3) desabilitar -->
    $('input').attr("disabled", "disabled");
    $('select').attr("disabled", "disabled");
    $('textarea').attr("disabled", "disabled");
    <!-- end(desabilitar) -->
    $("#bancos_id").val("<!-- $(bancos_id) -->");
    $("#visita_status").val("<!-- $(visita_status) -->");
    <!-- each ($(servicos)) servicos_chk -->
    $("#servicos_$servicos_chk(id)").attr("checked", "checked");
    <!-- end(servicos_chk) -->
    <!-- each ($(produtos)) produtos_chk -->
    $("#produtos_$produtos_chk(id)").attr("checked", "checked");
    <!-- end(produtos_chk) -->
</script>