<!-- app(admin.fecha_chamado) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Chamados</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <h2>Deseja realmente fechar este chamado?</h2>
            <div class="field"><label for="numero">O.S. </label> <!-- $(numero) --></div>
            <div class="field"><label for="empresa">Empresa </label> <!-- $(empresa) --></div>
            <div class="field"><label for="usuario">CNPJ </label> <!-- $(cnpj) --></div>
            <div class="field"><label for="telefone">Telefone </label> <!-- $(telefone) --></div>
            <div class="field"><label for="agenda">Agendamento </label> <!-- $(agenda_br) --></div>
            <h3>Atendimento</h3>
            <div class="field"><label for="atendimento_data">Data <span style="color: #FF0000;">*</span> </label> <input id="atendimento_data" maxlength="10" name="atendimento_data" type="text" class="xsmall" value="<!-- $(atendimento) -->" alt="date" /></div>
            <div class="field phone_field"><label for="atendimento_data">Horário <span style="color: #FF0000;">*</span> </label> <input id="atendimento_hora_ini" maxlength="8" name="atendimento_hora_ini" type="text" class="xsmall" value="<!-- $(atendimento_hora_ini) -->" alt="time" /> - <input id="atendimento_hora_fim" maxlength="8" name="atendimento_hora_fim" type="text" class="xsmall" value="<!-- $(atendimento_hora_fim) -->" alt="time" /></div>
            <div class="field">
                <label for="visita_status">Visita Atendida?</label> 
                <select id="visita_status" name="visita_status">
                    <!-- each ($(visita_status_lista)) visita_status -->
                    <option value="$visita_status(id)">$visita_status(status)</option>
                    <!-- end(visita_status) -->
                </select>
            </div>
            <div class="field"><label for="tecnico">Técnico <span style="color: #FF0000;">*</span> </label> <input id="tecnico" maxlength="255" name="tecnico" type="text" class="medium" value="<!-- $(tecnico) -->" /></div>
            <div class="field"><label for="observacao">Observação </label> <textarea rows="7" cols="50" name="observacao"><!-- $(observacao) --></textarea></div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Fechar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=chamados/editar&id=<!-- $(id) -->');">Cancelar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    $("#visita_status").val("<!-- $(visita_status) -->");
</script>