<!-- app(admin.remove_chamado) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Chamados</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <h2>Deseja realmente remover este chamado?</h2>
            <div class="field"><label for="numero">O.S. </label> <!-- $(numero) --></div>
            <div class="field"><label for="empresa">Empresa </label> <!-- $(empresa) --></div>
            <div class="field"><label for="usuario">CNPJ </label> <!-- $(cnpj) --></div>
            <div class="field"><label for="telefone">Telefone </label> <!-- $(telefone) --></div>
            <div class="field"><label for="agenda">Agendamento </label> <!-- $(agenda_br) --></div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Remover</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=chamados/editar&id=<!-- $(id) -->');">Cancelar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
</script>