.visualize { margin-bottom: 4em; }

/* -------------------------------------------------------------- 
   Tickets
-------------------------------------------------------------- */
.ticket {
    padding: 3px 4px;
    text-align: right;
    color: #fff;
    font-size: 10px;
    display: inline;
    white-space: nowrap;
    width: 60px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ticket.open { background-color: #F90; }
.ticket.closed { background-color: #666; }
.ticket.responded { background-color: #263849; }


/* -------------------------------------------------------------- 
   Dashboard Tables
-------------------------------------------------------------- */
.support_table .full { width: 70%; font-size: 11px; }
.support_table .who { width: 30%; text-align: right; font-size: 10px; color: #999; }

.info_table .value { width: 25%; font-size: 18px; font-weight: bold; color: #263849; }

.inbox_table .avatar { width: 60px; }
.inbox_table .full { width: 80%; font-size: 11px; }
.inbox_table .who { width: 20%;  text-align: right; font-size: 10px; color: #999; }

img.avatar_img
{
    width: 60px; 
    padding: 1px;
    border: 1px solid #CCC; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 

}




/* -------------------------------------------------------------- 
   Support Request Page
-------------------------------------------------------------- */
#support-details h1
{
    margin-bottom: 1.15em;
}

#support-details .request-info 
{
    background: none repeat scroll 0 0 #F1F1F1;
    color: #333;
    float: left;
    font-size: 11px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    width: 180px;
    padding: 15px 0 10px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #DDD;
}

#support-details .request-info ul { margin-left: 16px; }

#support-details .request-info img 
{ 
    width: 35px; 
    padding: 1px; 
    margin: 0 2px; 
    border: 1px solid #AAA; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;	
}

#support-details .request-info strong { color: #111; padding-right: .5em; }





/* -------------------------------------------------------------- 
   FAQ Page
-------------------------------------------------------------- */
#search-bar, #search-bar-closed
{
    background: #EEE;

    padding: 25px 25px 10px;
    margin: 0 auto;			

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid #CCC;

}

#search-bar form
{
    width: 550px;
    position: relative;
    margin: 0 auto;
}

#search-bar h2 { margin-bottom: .5em; }

#search-bar input
{
    width: 430px;
    padding: 7px;
    border: 1px solid #999;
    margin-right: .5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

*+html #search-bar input { width: 415px; }

#search-bar p { font-size: 11px; color: #555; margin-top: 1em; }

#search-bar .loader 
{
    background: url(../img/loader.gif) no-repeat 0 0;
    width: 16px;
    height: 16px;
    line-height: 500px;
    overflow: hidden;

    position: absolute; 
    right: 115px; 
    top: 40px; 

}

.faq { margin-bottom: 3em; }
.faq li { list-style-type: none; padding: 0; margin: 0; }

.faq .answer
{
    border-bottom: 1px dotted #CCC;
    margin: 2.5em 0 2.5em 2em;
}

.faq .plus_icon
{
    color: #F90;
    font-weight: bold;
    font-size: 18px;
    display: inline;
    padding-right: 1em;
}

#no_results { color: #C00; display: none; }



#search-bar-closed {
    background: #87160f;
}
#search-bar-closed h3 {
    font-weight: bold;
    color: #FFF;
}



/* -------------------------------------------------------------- 
   Reports Page
-------------------------------------------------------------- */	
#big_stats 
{ 
    /* background: #f3f3f3;  */
    width: 100%; 
    padding: 0; 
    float: left; 
    margin-bottom: 3em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; 	
}

*+html #big_stats { padding-bottom: 2em; }

.stat
{
    width: 29%;
    height: 90px;
    padding: 0 2%;
    float: left;
    position: relative;

    border-left: 1px dotted #CCC;
}

*+html .stat { height: 100px; }

.stat:first-child { border: none; }

.stat h4
{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 1.5em;
}

.stat .value
{
    font-size: 56px;
    font-weight: bold;
    color: #263849;
    line-height: 1em;
}

.stat .view_all
{
    font-size: 11px;
    position: absolute;
    right: 20px;
    bottom: 12px;
}


.reports_table .value { width: 100px; text-align: right; }
.reports_table .value span { background: #F90; font-size: 11px; font-weight: bold; color: #FFF; width: 40px; text-align: center;  padding: 3px 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

.reports_table td { padding: 5px; }





/* -------------------------------------------------------------- 
   Invoice Page
-------------------------------------------------------------- */			
#invoice { border-top: 5px solid #999; }

#invoice h1 { margin-bottom: 1.25em; }
#invoice .total,
#invoice .price { text-align: right; }

#invoice .sub_total,
#invoice .grand_total { text-align: right; border-bottom: none; }

#invoice .sub_total { border-top: 2px solid #666; }
#invoice .grand_total { font-size: 14px; font-weight: bold; }

#invoice .client_details,
#invoice .invoice_details { font-size: 11px; padding: 0; margin: 0 0 3em; float: left; }

#invoice .invoice_details { float: right; }
#invoice .client_details li,
#invoice .invoice_details li { list-style-type: none; }

#invoice .name { font-size: 14px; }

#invoice_actions { padding: 0; margin: 0; }
#invoice_actions li { list-style-type: none; margin-bottom: 1.25em; }
#invoice_actions li a
{
    padding-left: 26px;
}

#invoice_actions .send { background: url(../img/email.png) no-repeat 0 center; }
#invoice_actions .edit { background: url(../img/pencil.png) no-repeat 0 center; }
#invoice_actions .print { background: url(../img/printer.png) no-repeat 0 center; }
#invoice_actions .duplicate { background: url(../img/page_white_copy.png) no-repeat 0 center; }
#invoice_actions .delete { background: url(../img/cross.png) no-repeat 0 center; }
#invoice_actions .change { background: url(../img/page_white_go.png) no-repeat 0 center; }

#invoice_total
{
    background: #AAA;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1.25em;
}








/* -------------------------------------------------------------- 
   Gallery Page
-------------------------------------------------------------- */
ul.gallery { padding: 0; margin: 0; }

.gallery li 
{
    padding: 3px;
    margin: 0;
    background: 0;
    width: 100px;
    height: 100px;

    list-style-type: none;

    /*	display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline; */

    float: left;


    position: relative;
    margin: 13px 17px 10px 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0,.20);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.20);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.20);

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


.gallery li:hover { border-color: #888; }

.gallery li .actions
{
    width: 100px;
    height: 100px;
    display: block;
    z-index: 10;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    display: none;
    padding: 3px;

    line-height: 100px;
}

.gallery .actions .btn { padding: 0 5px 2px; }

.gallery .actions .btn,
.gallery .actions .btn:hover { color: #FFF !important; }

.gallery .actions .btn:first-child { margin-top: 20px; margin-bottom: 1em; }

.gallery li:hover .actions { display: block; }

*+html .gallery .actions .delete { top: -12px; position: relative; }




#gallery_wrapper { text-align: center; }








/* -------------------------------------------------------------- 
   Calendar Page
-------------------------------------------------------------- */
table.calendar 
{
    margin:18px 0 12px;
    clear:both;
    font-size:12px;
    border-collapse:collapse;
}

table.calendar, .calendar td { border:1px solid #bbb; }

table.calendar .day_number 
{
    color:#333;
    font-size:12px;
    padding:3px 9px;
    font-weight:bold;
}

table.calendar td .daynum { color: #555; }

table.calendar th 
{
    width: 250px;
    height: 10px;
    background: #263849  !important;

    color: #FFF;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
    padding:12px 0;
    text-align:center;
}

table.calendar td 
{
    height: 110px;
    width:14.28%;
    color: #114B7D;
    text-align: left;
    vertical-align: top;
    padding:0;
    font-size:12px;
}



table.calendar .event { width: 92%; margin: 0 auto; height: 2em; overflow: hidden; display: block; position: relative; }

table.calendar .event_title
{
    display: inline;
    color: #222;
    font-size: 11px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    z-index: 20;
}

table.calendar .event_title:hover { color: #222; text-decoration: underline; }

table.calendar .event_time { display: inline; font-size: 11px; font-weight: bold; color: #F90; padding-right: .25em; }



table.calendar .not_current_month { background: #F1F1F1; }

table.calendar .not_current_month .day_number { color: #888; }


h2.calendar_header { font-size: 56px; text-align: center; line-height: 48px; margin-bottom: .5em; margin-top: .25em; }
h2.calendar_header button { top: -10px; margin: 0 1em; position: relative; }
h2.calendar_header button:hover { color: #FFF !important; }

h2.calendar_header button.previous { right: 25px; }
h2.calendar_header button.next { left: 25px; }



/* -------------------------------------------------------------- 
   People Page
-------------------------------------------------------------- */		
.department { float: left; margin-bottom: 3em; }
.department h2 { font-size: 18px; color: #F90; border-bottom: 1px dotted #CCC; padding-bottom: 4px; margin-bottom: 1.5em; }
.user-card { width: 200px; font-size: 11px; margin: 0 1em 1.5em 0; float: left; }
.user-card img 
{ 
    border: 1px solid #CCC; 
    padding: 1px; 			
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 

}
.user-card .avatar { width: 75px; float: left; }
.user-card .details { width: 115px; float: right; }

#add-user-form { width: 270px; margin: 0 auto; }