<!-- app(admin.dashboard) -->
<div class="portlet x3" style="min-height: 300px;">
    <div class="portlet-header">
        <h4>Resumo</h4>
    </div>
    <div class="portlet-content">
        <table cellspacing="0" class="info_table">
            <tbody>
                <tr>
                    <td class="value"><!-- $(total_page_view) --></td>
                    <td class="full">Páginas Visualizadas</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_page_users) --></td>
                    <td class="full">Visitantes Únicos</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_postagens) --></td>
                    <td class="full">Postagens</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_comentarios) --></td>
                    <td class="full">Comentários</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_comentarios_moderados) --></td>
                    <td class="full">Comentários Moderados</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_enquetes) --></td>
                    <td class="full">Enquetes</td>
                </tr>
                <tr>
                    <td class="value"><!-- $(total_enquetes_respondidas) --></td>
                    <td class="full">Respostas</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="dash_chart" class="portlet x9">
    <div class="portlet-header">
        <h4>Páginas Visualizadas / Visitantes Únicos (últimos 5 dias)</h4>
    </div>
    <div class="portlet-content">
        <table class="stats" title="area" width="100%" cellpadding="0" cellspacing="0">
            <caption>Últimos dias</caption>
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <!-- each ($(db_page_days)) db_page_days -->
                    <th>$db_page_days(data)</th>
                    <!-- end(db_page_days) -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Páginas Visualizadas</th>
                    <!-- each ($(db_page_views)) db_page_views -->
                    <td>$db_page_views(total)</td>
                    <!-- end(db_page_views) -->
                </tr>
                <tr>
                    <th>Visitantes Únicos</th>
                    <!-- each ($(db_page_users)) db_page_users -->
                    <td>$db_page_users(total)</td>
                    <!-- end(db_page_users) -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="xbreak"></div>
<div class="portlet x12">
    <div class="portlet-header">
        <h4>Comentários</h4>
    </div>
    <div class="portlet-content">
        <table cellspacing="0" class="inbox_table">
            <tbody>
                <!-- each($(comentarios)) comentarios -->
                <tr>
                    <td class="avatar"><img src="$comentarios(avatar)" width="55" alt="avatar" class="avatar_img" /></td>
                    <td class="full"><a href="painel.html?content=comentarios/editar&id=$comentarios(id)">$comentarios(nome)</a><br />$comentarios(texto)</td>
                    <td class="who">$comentarios(ip) | $comentarios(datacadastro)</td>
                </tr>
                <!-- end(comentarios) -->
            </tbody>
        </table>
    </div>
</div>