<div class="portlet x12">
    <div class="portlet-header"><h4>Chamados</h4></div>
    <div class="portlet-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="chamados">
            <thead>
                <tr>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;">O.S.</th>
                    <th>Empresa</th>
                    <th style="width: 15%;">CNPJ</th>
                    <th style="width: 10%;">Telefone</th>
                    <th style="width: 15%;">Agendamento</th>
                    <th style="width: 10%;">Estado</th>
                </tr>
            </thead>
        </table>
        <br clear="all" />
        <div class="buttonrow">
            <button class="btn btn-green" type="button" onclick="slate.open('painel.html?content=chamados/abrir');">Abrir</button>
        </div>
    </div>
</div>
<!--  charset="utf-8" -->
<script type="text/javascript" charset="utf-8">
    $(function () {
        slate.table ("#chamados", "xhr/chamados.php", "painel.html?content=chamados/editar&id=", true, true);
    });
</script>