<!-- app(admin.edita_usuario) -->
<form action="" method="post" class="form label-inline">
    <div class="portlet x9">
        <div class="portlet-header"><h4>Usuários</h4></div>
        <div class="portlet-content">
            <!-- if ($(mensagem) != "") mensagem -->
            <div id="search-bar">
                <h3><!-- $html(mensagem) --></h3>
            </div>
            <!-- end(mensagem) -->
            <br clear="all" />
            <div class="field"><label for="nome">Nome </label> <input id="nome" maxlength="255" name="nome" type="text" class="medium" value="<!-- $(nome) -->" /></div>
            <div class="field"><label for="email">E-mail </label> <input id="email" maxlength="255" name="email" type="text" class="medium" value="<!-- $(email) -->" /></div>
            <br clear="all" />
            <div class="field"><label for="usuario">Usuário </label> <input id="usuario" maxlength="255" name="usuario" type="text" class="small" value="<!-- $(usuario) -->" /></div>
            <div class="field"><label for="senha">Senha </label> <input id="senha" maxlength="255" name="senha" type="password" class="xsmall" /></div>
            <div class="field"><label for="confirma_senha">Confirmar Senha </label> <input id="confirma_senha" maxlength="255" name="confirma_senha" type="password" class="xsmall" /></div>
            <div class="field">
                <label for="adm_content_nivel_id">Nível </label> 
                <select id="adm_content_nivel_id" name="adm_content_nivel_id">
                    <!-- each ($(adm_content_nivel)) adm_content_nivel -->
                    <option value="$adm_content_nivel(id)">$adm_content_nivel(titulo)</option>
                    <!-- end(adm_content_nivel) -->
                </select>
            </div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit" name="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="slate.open('painel.html?content=usuarios');">Cancelar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="slate.open('painel.html?content=usuarios/remover&id=<!-- $(id) -->');">Remover</button>
            </div>
        </div>
    </div>
    <div class="portlet x3">
        <div class="portlet-header"><h4>Observação</h4></div>
        <div class="portlet-content">
            <p>Todos os campos ao lado são obrigatórios!</p>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function() {
        $("#search-bar").fadeOut();
    }, 3000);
    $("#adm_content_nivel_id").val("<!-- $(adm_content_nivel_id) -->");
</script>