<!-- app(admin.menu) -->
<ul class="mega-container mega-grey">
    <li class="mega">
        <a href="painel.html" class="mega-link">Dashboard</a>
    </li>
    <!-- each ($(menu)) menu -->
    <li class="mega">
        <a href="painel.html?content=$menu(content)" class="mega-link">$menu(titulo)</a>
    </li>
    <!-- end(menu) -->
</ul>